.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 {
    color: #37ba00;
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    border-radius: 10px;
    font-weight: 900;
}

h1 span {
    font-size: 80%;
    color: #333;
    font-weight: 100;
}

h1 a.header-link {
    color: #37ba00;
    text-decoration: none;
}

h2, h3, h4, h5 {
    color: #37ba00;
}

span.number {
    color: #37ba00;
    font-weight: bold;
}

th, td {
    padding: 0 5px 0 5px;
}

div.container {
    padding-bottom: 3em;
}